/* All styles for your header Components live here */
.header-container{
  display: flex;
}

.school {
  font-weight: bold;
}

.handle ,.date {
  color: darkgray;
}

.header-title span {
  margin-right: 10px;
}

.header-content {
  margin: 10px;
  width: 75%;
}

.image-thumbnail {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: maroon;
}

.image-thumbnail img {
  filter: brightness(0) invert(1);
  margin-top: 15px;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}